# Number

1. Define a number with a value of one billion in 3 ways.

In [ ]:
let billion = 1000000000
let billion = 1_000_000_000
let billion = 1e9

2. Convert 100(10) to binary number.

In [ ]:
let n2 = 100
n2 = +n2.toString(2)

3. Round up, round down, and round to the nearest whole number for `3.1`.

In [ ]:
console.log(Math.floor(3.1))
console.log(Math.ceil(3.1))
console.log(Math.round(3.1))

4. Round `12.34` and `12.35` to 1 decimal place.

In [ ]:
let num = 12.35
console.log(Math.round(12.35 * 10) / 10)

# String

5. Print the length of `text5`.

In [ ]:
let text5 = `My\n`
console.log(text5.length)

6. Print the last letter of `text6` in 2 ways.

In [ ]:
let text6 = 'Hello'
console.log(text6[text6.length - 1])
console.log(text6.at(-1))

7. Change the first letter to uppercase.

In [ ]:
let text7 = 'hi'
text7 = text7[0].toUpperCase() + text7.slice(1)

# Array

8. Write the output by comments.

In [ ]:
let arr8 = [1, 2, 3]

arr8.pop()
console.log(arr8) // 1,2

arr8.push(4)
console.log(arr8) // 1,2,4

arr8.shift()
console.log(arr8) // 2,4

arr8.unshift(5)
console.log(arr8) // 5,2,4

9. Iterate the array in 2 ways.

In [ ]:
let arr9 = [1, 2, 3, 4, 5]
for(let i = 0; i < arr9.length; i++){
    console.log(arr9[i])
}
for(let n of arr9){
    console.log(n)
}

10. Replace the first 3 elements with `0` and `1` using `splice`.

In [14]:
let arr10 = [1, 2, 3, 4, 5]
arr10.splice(0, 3, 0, 1)
console.log(arr10)

[ 0, 1, 4, 5 ]

11. Get a sub array of the first 3 elements in `arr11` using `slice`.

In [15]:
let arr11 = [1, 2, 3, 4, 5]
console.log(arr11.slice(0,3))

[ 1, 2, 3 ]

12. Merge `arr12a` and `arr12b` using `concat`.

In [16]:
let arr12a = [1, 2, 3, 4, 5]
let arr12b = [0, 1, 2, 3, 4]
arr12a.concat(arr12b)

[
  1, 2, 3, 4, 5,
  0, 1, 2, 3, 4
]

13. Print each element in `arr13` using `forEach`.

In [17]:
let arr13 = [1, 2, 3, 4, 5]
arr13.forEach((a) => {
    console.log(a)
})

1
2
3
4
5

14. Double all numbers in `arr14` using `map`.

In [19]:
let arr14 = [1, 2, 3, 4, 5]
arr14.map(a => a*2)

[ 2, 4, 6, 8, 10 ]

15. Split name in the string and save to an array using `split`.

In [20]:
let names15 = 'Bilbo, Gandalf, Nazgul'
console.log(names15.split(", "))

[ "Bilbo", "Gandalf", "Nazgul" ]

16. Join the names in `arr16` with `,` using `join`.

In [21]:
let arr16 = ['Bilbo', 'Gandalf', 'Nazgul']
console.log(arr16.join(","))

Bilbo,Gandalf,Nazgul

17. How to determine whether a variable is an array?

In [ ]:
alert(Array.isArray({})); // false

alert(Array.isArray([])); // true

# Object

18. Print keys, values and key-value pairs of `obj18`.

In [22]:
let obj18 = {
  name: "John",
  age: 30
}
console.log(Object.keys(obj18))
console.log(Object.values(obj18))
console.log(Object.entries(obj18))

[ "name", "age" ]
[ "John", 30 ]
[ [ "name", "John" ], [ "age", 30 ] ]

# Destructuring Assignment

19. Swap 2 numbers by destructuring assignment.

In [23]:
let n19a = 1, n19b = 2;
[n19a, n19b] = [n19b, n19a]
console.log(n19a,n19b)

2 1

20. Extract properties from an object as separate variables.

In [24]:
let obj20 = {
  title: "Menu",
  width: 100,
  height: 200
}
let {title, width, height} = obj20;
console.log(title, width, height)

Menu 100 200

# JSON

21. Convert `obj21` into JSON.

In [25]:
let obj21 = {
  title: "Conference",
  room: {
    number: 23,
    participants: ["john", "ann"]}
}
JSON.stringify(obj21)

'{"title":"Conference","room":{"number":23,"participants":["john","ann"]}}'

22. Convert `data22` back into an object.

In [26]:
let data22 = '{ "name": "John", "age": 35, "isAdmin": false, "friends": [0,1,2,3] }'
JSON.parse(data22)

{ name: "John", age: 35, isAdmin: false, friends: [ 0, 1, 2, 3 ] }